alembic
bcrypt
blinker
certifi==2023.7.22
charset-normalizer
click
colorama
defusedxml
dnspython
email-validator==2.0.0.post2
et_xmlfile
Flask
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
fonttools
fpdf2
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysqlclient
openpyxl
pandas
Pillow
psycopg2-binary
pycparser
PyJWT
PyMySQL
python-dateutil
python-dotenv
pytz==2023.3.post1
requests
six
SQLAlchemy
typing_extensions
tzdata==2023.3
urllib3
Werkzeug
WTForms
gunicorn>=20.0.4
psycopg2-binary